.title_about_text {
  color: var(--black, #000);
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.about_text {
  color: var(--black, #000);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.box_text_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.font_about_text {
  font-size: 20px;
  font-weight: 600;
}
.section_text_about {
  margin-top: 128px;
}
.box_about_img_People {
  height: 477px;
  display: flex;
  position: relative;
  gap: 25px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.sectio_about_img_People {
  margin-top: 128px;
}
.img_about_People {
  position: absolute;
  object-fit: cover;
  border-radius: 25px;
}
.small_img_about_People {
  top: 7.96%;
  height: 312px;
}
.small_img_about_People_V2 {
  bottom: 7.96%;
  height: 312px;
}
.big_img_about_People {
  left: 25%;
  height: 100%;
}
.left_People {
  left: -8%;
}
.right_People {
  right: -8%;
}
.news_about_btn {
  position: relative;
  width: 160px;
  height: 42px;
  border-radius: 100px;
  border: 2px solid var(--red-base, #d8251d);
  background-color: #ffff;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.news_about_btn:hover{
  background: var(--red-30, #971A14);
  border: 2px solid var(--red-base,  #971A14);
}
.news_about_btn:hover p{
  color: #FFFFFF;
}
.news_about_btn:hover .hover_button_about_the_film{
 top: 4px;
 left: 4px;
 transform: rotate(1deg);
}
.news_about_btn:hover .img_pgf{
  content: url("../resources/Icons_pgf_fff.svg")
 }
 .news_about_btn:hover .img_xls{
  content: url("../resources/Icons_pgf_fff.svg")
 }

.news_about_title {
  color: var(--black, #000);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.section_news_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-top: 128px;
}
.heade_news_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.box_news_articles_heade_news_about {
  display: flex;
  gap: 24px;
  row-gap: 24px;
  justify-content: space-between;
   
}
.box_news_about {
  box-sizing: border-box;
  gap: 48px;
  justify-content: center;
  margin-bottom: 128px;
}
.news_about {
  position: relative;
  display: flex;
  width: 33%;
  gap: 16px;
  padding: 16px;
  flex-direction: column;
  height: 416px;
  justify-content: flex-end;
}
.news_about:hover .about_small_news_red_hover{
  left: 10px;
  top: 10px;
}
.about_small_news_red_hover{
  position: absolute;
  background: url("../resources/small_news_red_hover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: -1;
  opacity: 1;
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
}
.news_about_first {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.58) 30.18%,
      #000 100%
    ),
    url("../resources/12_films.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.news_about_third {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.58) 30.18%,
      #000 100%
    ),
    url("../resources/news_animation_miyazaki.jpg"),
    lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.news_about_second {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.58) 30.18%,
      #000 100%
    ),
    url("../resources/new_series_news.jpg"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.news_about_fourth {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.58) 30.18%,
      #000 100%
    ),
    url("../resources/new_series_news.jpg"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: none;
}
@media (max-width: 1400px) {
  .small_img_about_People,
  .small_img_about_People_V2 {
    height: 285px;
  }
}
@media (max-width: 1200px) {
  .small_img_about_People,
  .small_img_about_People_V2 {
    height: 240px;
  }
  .box_about_img_People {
    height: 342px;
  }
}
@media (max-width: 991px) {
  .small_img_about_People,
  .small_img_about_People_V2 {
    height: 180px;
  }
  .sectio_about_img_People,
  .section_text_about,
  .section_news_about
   {
    margin-top: 80px;
  }
  .box_news_about{
    margin-bottom: 80px;
  }
  .box_about_img_People {
    height: 252px;
  }
  .news_about_fourth {
    display: flex;
  }
  .box_news_articles_heade_news_about {
    gap: 10px;
    row-gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .news_about{
    width: 48%;
  }
  .heade_news_about{
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .small_img_about_People,
  .small_img_about_People_V2 {
    height: 135px;
  }
  .box_about_img_People {
    height: 214px;
  }
}
@media (max-width: 576px) {
  .title_about_text {
    font-size: 24px;
    letter-spacing: 0.48px;
  }
  .big_img_about_People {
    left: 12.5%;
  }
  .about_text {
    font-size: 14px;
  }
  .font_about_text {
    font-size: 14px;
  }
  .left_People {
    left: -24.5%;
  }
  .right_People {
    right: -24.5%;
  }
  .news_about{
    height: 180px;
    gap: 14px;
    padding: 8px;
  }
  .news_about_title{
    font-size: 24px;
    
  }
}
