.section_about_people_parallax_animation {
  height: 750px;
  margin: 0 auto;
  position: relative;
   /* Разрешить прокрутку в вертикальном направлении */
   overflow: hidden;
}
.img_parallax {
  border-radius: 25px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.small_img_parallax {
  height: 312px;
  top: 2.66%;
  
}
.bix_img_about_people_parallax {
  height: auto;
  top: 0%;
  left: 25%;
  z-index: 5;
}
.left_img_about_people_parallax {
  left: -8%;
}
.right_img_about_people_parallax {
  right: -8%;
}
.text{
    height: 1400px;
    width: auto;
    background-color: black;
}
@media (max-width: 1400px) {
    .small_img_parallax{
        height: 285px;
    }
}
@media (max-width: 1200px) {
    .small_img_parallax{
        height: 240px;
    }
}
@media (max-width: 991px) {
    .small_img_parallax{
        height: 180px;
    }
}
@media (max-width: 768px) {
    .small_img_parallax{
        height: 135px;
    }
    .section_about_people_parallax_animation{
        height: 500px;
      }
}
@media (max-width: 576px) {
    .small_img_parallax{
        height: 135px;
    }
    .bix_img_about_people_parallax{
        left: 20.8%;
    }
    .left_img_about_people_parallax {
        left: -17.5%;
      }
      .right_img_about_people_parallax {
        right: -17.5%;
      }
      .section_about_people_parallax_animation{
        height: 375px;
      }
}