.header {
  display: flex;
  justify-content: center;
  
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 22px;
}

.header_link {
  color: var(--black, #000);

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  text-decoration: none;
}
.burger_header_link{
  color: var(--black, #000);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  text-decoration: none
}
.header_box_link {
  border-radius: 33px;
  background: var(--grey-base, #eceaea);
  display: flex;
  gap: 32px;
  height: 42px;
  padding: 11px 30px 12px 30px;
}
.header_box_btn {
  display: flex;
  gap: 15px;
}

.header_btn {
  border-radius: 100px;
  background: var(--grey-base, #eceaea);
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header_burger {
  outline: none;
  border: none;
  display: none;
}
.burger {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.burger-btn {
  display: none;

  border-radius: 100px;
  background-color: #eceaea;
  width: 42px;
  height: 42px;
  cursor: pointer;
}
.burger__contact {
  margin: 40px 10px 0px 10px;
  width: 100%;
  height: 528px;
  border-radius: 16px;
  background: var(--grey-base, #eceaea);
  padding: 11px 11px 11px 11px;
  overflow-y: scroll;
}
.box_burger_logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.close_burger_img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.burger-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.burger-logo-link {
  margin-bottom: 32px;
}
.burger-nav-link {
  text-decoration: none;
  color: #121212;
  font-size: 25px;
  line-height: 34px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
}
.burger-contact-box {
  margin-left: 3px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.burger-contact-title {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0.5;
}
.burger-telephone {
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #121212;
}
.burger-mail {
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #121212;
}
.burger_open {
  opacity: 1;
  visibility: visible;
  z-index: 999999;
}
.header_logo {
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
@media (max-width: 1200px) {
  .header_box_link {
    display: none;
  }
  .burger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}
@media (max-width: 576px) {
  .header_logo {
    width: 210px;
    height: 46px;
  }
  .header_box_btn {
    
    gap: 8px;
  }
  .header{
    margin-top: 39px;
  }
}
