@import "header.css";
@import "footer.css";
@import "slider.css";
@import "rolling_plans.css";
@import "news.css";
@import "people.css";
@import "brend.css";
@import "about_animation.css";
@import "about_people_parallax.css";
@import "about.css";
@import "category_catalog.css";
@import "catalog_all_film.css";
@import "film_full_screen.css";
@import "film_info.css";
@import "test.css";
@import "jquery.fancybox.min.css";
@import "category.css";
@import "Film_distription.css";
@import "Rental_plans.css";



@font-face {
  font-family: "OpenSans";
  src: url("../resources/OpenSans-VariableFont_wdth\,wght.ttf");
}

.img_20px {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_24px {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}
.img_32px {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.collor_grey {
  background-color: #eceaea;
}
.z_index {
  z-index: 100;
}
.btn_red {
  position: relative;
  text-decoration: none;
  height: 42px;
  border-radius: 100px;
  background: var(--red-base, #d8251d);
  color: var(--white, #fff);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  padding: 12px 25px 12px 25px;
  z-index: 1;
  

}
.hover_button_about_the_film {
  position: absolute;
  z-index: -1;
  background-image: url("../resources/hover_button_about_the_film.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 42px;
  top: 0;
  right: 0;
}
.btn_red:hover .hover_button_about_the_film {
  top: 2px;
  left: 2px;
}
.btn_red:hover {
  background: var(--red-base, #971a14);
}
.cursor_pointer {
  cursor: pointer;
}
.display_flex{
  display: flex;
}