@import "header.css";
@import "footer.css";
@import "slider.css";
@import "rolling_plans.css";
@import "news.css";
@import "people.css";

@font-face {
  font-family: "OpenSans";
  src: url("../resources/OpenSans-VariableFont_wdth\,wght.ttf");
}

.img_20px {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
.img_24px {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}
.img_32px {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
}
.collor_grey {
  background-color: #eceaea;
}
.z_index{
    z-index: 100;
}
.btn_red{
  text-decoration: none;
    height: 42px;
    border-radius: 100px;
    background: var(--red-base, #d8251d);
    color: var(--white, #fff);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    padding: 12px 25px 12px 25px;
    
}
