.section_news {
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  height: 1117px; /* Задайте высоту в соответствии с вашими потребностями */
  padding: 80px 0px 100px 0px;
}
.news_animation_square {
  background: url("../resources/animation_square.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover; /* Растягивание по ширине и высоте */
  top: 0%;
  left: -60%;
  height: 100%;
  transform: rotate(27deg);
  transition: transform 2s, left 2s;
}
.section_news.show .news_animation_square {
  left: -7%;
  transform: rotate(0deg);
}

.news_title {
  position: absolute;
  z-index: 1;
  color: var(--white, #fff);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  left: -300%; /* Начальное положение слева */
  transition: left 2s; /* Добавьте анимацию для левого смещения */
}

.news_btn {
  position: absolute;
  
  right: -100%; /* Начальное положение справа */
  width: 160px;
  height: 42px;
  border-radius: 100px;
  border: 2px solid var(--red-base, #d8251d);
  background-color: #ffff;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: right 2s; /* Добавьте анимацию для правого смещения */
}
.news_btn:hover{
  background: var(--red-30, #971A14);
  border: 2px solid var(--red-base, #971A14);
}
.news_btn:hover .rolling_plans_btn_text{
 color: #fff;
}
.news_btn:hover .rolling_plans_btn_img_hover{
  background-image: url("../resources/Arrow_right_fff.png");
 }
 .news_btn:hover .news_btn_hover{
  opacity: 1;
  left: 3px;
 }


.news_btn_hover{
  position: absolute;
  background-image: url("../resources/news_btn_hover.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 155.8px;
  height: 46px;
  opacity: 0;
  z-index: -1;
  top: 0px;
}

.big_news {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  padding: 16px;
}

.small_news {
  height: 416px;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  padding: 16px;
  transition: left 2s;
}
.left_news {
  height: 416px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.58) 30.18%,
      #000 100%
    ),
    url("../resources/bought_the_animation_rights.jpg"),
    lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  transition: right 2s;
  right: -300%;
  top: 166px; /* Начальное положение слева */
}
.right_news {
  height: 416px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.58) 30.18%,
      #000 100%
    ),
    url("../resources/oscar_nominations_father.jpg"),
    lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  right: -300%;
  top: 166px; /* Начальное положение слева */
  /* Добавьте анимацию для левого смещения */
  transition: right 2s;
}
.small_left_news {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.58) 30.18%,
      #000 100%
    ),
    url("../resources/12_films.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  left: -300%;
  top: 600px; /* Начальное положение слева */
}
.small_central_news {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.58) 30.18%,
      #000 100%
    ),
    url("../resources/new_series_news.jpg"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  left: -300%;
  top: 600px;
}
.small_right_news {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.58) 30.18%,
      #000 100%
    ),
    url("../resources/news_animation_miyazaki.jpg"),
    lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  left: -300%;
  top: 600px;
}
.news_articles_data {
  color: var(--grey-20, #f0eeee);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section_news.show .left_news {
  right: 50%; /* Расположение слева после анимации */
}
.section_news.show .small_left_news {
  left: 0%; /* Расположение слева после анимации */
}
.section_news.show .small_central_news {
  left: 34.2%; /* Расположение слева после анимации */
}
.section_news.show .small_right_news {
  left: 68.4%; /* Расположение слева после анимации */
}
.section_news.show .right_news {
  right: -1%; /* Расположение справа после анимации */
}
.section_news.show .news_title {
  left: 2%; /* Расположение слева после анимации */
}

.section_news.show .news_btn {
  right: 5%; /* Расположение справа после анимации */
}
.news_articles_text {
  color: var(--white, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px; /* 155% */
  text-transform: uppercase;
}
@media (max-width: 991px) {
  
  .section_news.show .left_news {
    right: 0%;
  }
  .right_news {
    height: 360px;
    left: -300%;
    top: 600px; /* Начальное положение слева */
    /* Добавьте анимацию для левого смещения */
    transition: left 2s;
  }
  .small_news {
    height: 360px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
    padding: 16px;
    transition: left 2s;
  }
  .small_left_news{
    top: 600px;
  }
  
  .small_central_news, .small_right_news  {
    top: 969px;
  }
  .section_news.show .right_news {
    left: 0%; /* Расположение справа после анимации */
  }
  .section_news.show .small_right_news {
    left: 51%; /* Расположение слева после анимации */
  }
  .section_news.show .small_central_news {
    left: 0%; /* Расположение слева после анимации */
  }
  .section_news.show .small_left_news {
    left: 51%; /* Расположение слева после анимации */
  }
  .section_news {
    height: 1500px;
  }
}
@media (max-width: 576px) {
  .section_news{
    padding: 80px 10px 100px 10px;
  }
  .left_news{
    top: 235px;
    height: 242px;
   
  }
  .section_news.show .left_news {
    right: 0%;
}
.small_left_news{
  top: 485px;
}
  .right_news {
    height: 180px;
    left: -300%;
    top: 485px; /* Начальное положение слева */
    /* Добавьте анимацию для левого смещения */
    transition: left 2s;
  }
  .small_central_news, .small_right_news  {
    top: 672px;
  }
  .section_news.show .right_news {
    left: 0%; /* Расположение справа после анимации */
  }
  .section_news.show .small_right_news {
    left: 51%; /* Расположение слева после анимации */
  }
  .section_news.show .small_central_news {
    left: 0%; /* Расположение слева после анимации */
  }
  .section_news.show .small_left_news {
    left: 51%; /* Расположение слева после анимации */
  }
  .section_news {
    height: 969px;
  }
  .news_title{
    font-size: 24px;
    color: var(--black, #000);
  }
  .section_news.show .news_title {
    left: 4%;
}
.small_news{
  height: 180px;
  gap: 14px;
}
.big_news{
  gap: 14px;
}
.news_btn{
  position: absolute;
    
    top: 125px;
    left: -100%;
    width: 160px;
    height: 42px;
    border-radius: 100px;
    border: 2px solid var(--red-base, #d8251d);
    background-color: #ffff;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: left 2s;
}
.section_news.show .news_btn {
  left: 3.5%;
}
.news_animation_square {
  background: url("../resources/animation_square.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover; /* Растягивание по ширине и высоте */
  top: 181px;
  left: -60%;
  height: 80%;
  transform: rotate(27deg);
  transition: transform 2s, left 2s;
}
.news_articles_text{
  font-size: 12px;
  line-height: normal;
}
.news_articles_data{
  font-size: 10px;
}
}