.section_people {
  width: 1440px;
  height: 948px;
  padding: 125px 72px 13px 72px;
  margin: 0 auto;
  position: relative;
}
.people_img {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.people_basic {
  position: absolute;

  height: 508px;
  top: 15%;
  left: 25%;
  z-index: 1;
}
.people_bottom {
  z-index: 2;
  position: absolute;
  top: 55%;
  left: 40%;
}
.people_left {
  z-index: 2;
  position: absolute;
  top: 33%;
  left: 9%;
}
.people_right {
  z-index: 0;
  position: absolute;
  top: 3%;
  right: 17%;
}
.people_img_small {
  height: 229px;
}
.people_text {
  color: var(--black, #000);
  width: 305px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.people_btn {
  z-index: 1;
  position: absolute;
  top: 67%;
  right: 7%;
}
.people_text_position {
  z-index: 1;
  position: absolute;
  top: 33%;
  right: 0%;
}
.people_animation {
  position: relative;
  height: 100%;
}

.box_people_animation {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
  width: 1255px;
  height: 810px;
  left: 36px;
  top: 0px;
  color: #ffff;
  opacity: 0;
}
.img_animation_people{
  background-repeat: no-repeat;
  background-size: cover;
}