.Rental_plans_text {
  color: var(--white, #fff);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.box_Rental_plans {
  position: relative;
}
.container_Rental_plans {
  display: flex;
  row-gap: 24px;
  justify-content: flex-start;
  padding-top: 67px;
  padding-bottom: 128px;
  overflow: hidden;
  position: relative;
}
.Rental_plans_data {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 81px;
}
.Rental_plans_img {
  height: 358px;
  object-fit: cover;
  object-position: bottom;
}
.Rental_plans_hover {
  position: absolute;
  top: 20px;
  left: 24px;
  width: 92%;
  height: 431px;
  background: url("../resources/Rental_plans_hover.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0;
}
.box_Rental_plans:hover .Rental_plans_hover {
  opacity: 1;
}

.animation_Rental_plans {
  width: 647px;
  height: 694px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  transition: transform 2s, right 2s;
  transform: rotate(50deg);
  right: -70%;
  top: 170px;
  z-index: -1;
}
.container_Rental_plans .animation_Rental_plans {
  right: -35%;
  transform: rotate(93deg);
}
@media (max-width: 991px) {
    .animation_Rental_plans{
        top: 400px;
    }
}
@media (max-width: 575px) {
  .container_Rental_plans{
    padding-top: 32px;
    padding-bottom: 80px;
  }
  .Rental_plans_text{
    font-size: 16px;
  }
  .Rental_plans_data{
    height: 50px;
  }
    .Rental_plans_img{
        height: 207px;
    }
    .animation_Rental_plans{
      top: 260px;
  }
}
